// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/'; // Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.app {
  background-image: url('../images/battlefield.jpg');
  width: 100%;
}

.heading {
  text-align: center;
  color: white;
  height: 200px;
  padding-top: 25px;

  h1 {
    font-size: 4vw;
  }

  h3 {
    font-size: 2.5vw;
  }
}

.img-block {
  height: 880px;
  h3 {
    color: white;
  }
}
